<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;">
	  <div style="padding: 2px 16px;">
	    <h2 style="text-align: center;"><b>Welcome to Airosail {{user.get_username}}</b></h2>
	    <p>The Ariosail is new way to reach  your customer and develop your business
			It will generate the links to your product
			It is used to get the rating and comment from the customers so you can increase your product values</p>
	    <p>Thanks for using the Airosail</p>
	  </div>
	</div>
</body>
</html>
