{% extends 'feed/base.html' %}
{% block content %}
<style type="text/css">
	.newsinline{
		overflow: hidden;
		white-space: nowrap;
		text-overflow:clip;
	}
	.newsinline.img{
		display:none;
	}
</style>
<div class="container">
	<div class="row">
		{% for new in news %}
		<div class="col-md-4">
			<a href="{% url 'newsletter:newscat' new.id %}">
			<div class="card">
				{% if new.top_img %}
				<img src="{{new.top_img.url}}" class="img-fluid w-100" style="height: 250px;">
				{% endif %}
				<div class="card-body">
					<div class="card-text" style="font-size:20px;color:black;">{{new.title|title}}</div>
				</div>
			</div>
		</a>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container-fluid mt-5 ">
	<div class="row">
	{% for new in newslist %}
	<div class="col-sm-12 col-lg-4 ">
		{% for recent in new  %}
		{% if forloop.counter <= 3  %}
		<div class="card h-100">
			<div class="row img-fluid px-2">
				<div class="col-md-4 col-lg-3" style="margin-right:;">
					<img src="{{recent.image.url}}"  width="200px" alt="business">
				</div>
				<div class="col-md-8 newsinline" >
					<a href="{% url 'newsletter:newsdetails' recent.id %}" style="color: black;">
					<h4>{{recent.title}}</h4>
					<p>{{recent.content|safe|truncatewords:9}}</p>
					<small>{{recent.created}}</small>
					</a>

				</div>
			</div>
		</div><br>
		{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
</div>
</div>
{% block jsfiles %}
<script type="text/javascript">
	$('.newsinline').find('img').hide();
</script>
{% endblock jsfiles %}
{% endblock content %}