{% extends 'feed/base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			{% for news in news %}
			<div class="card">
				<a href="{% url 'newsletter:newsdetails' news.id %}" style="color: black;">
				<div class="row h-100">
					<div class="col-md-4">
						{% if news.image %}
						<img src="{{news.image.url}}" width="250px" class="h-100" alt="{{news.title}}">
						{% endif %}
					</div>
					<div class="col-md-8 newsimg">
						<h4>{{news.title}}</h4>
						<p>{{news.content|safe|truncatewords:20}}</p>
						<small>{{news.created}}</small>
					</div>
				</div>
				</a>
			</div><br>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<div class="card">
				 
			</div>
		</div>
	</div>
</div>
{% if news.has_other_pages %}
<div style="margin-top: 5%;">
	<nav>
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center mr-5">
    {% if news.has_previous %}
    <li><a href="?page={{ news.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if news.has_next %}
    <li><a href="?page={{ news.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
   {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
{% block jsfiles %}
<script type="text/javascript">
	$('.newsimg').find('img').hide()
</script>
{% endblock jsfiles %}
{% endblock content %}