{% extends 'feed/base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			{% for news in news %}
			<div class="card">
				<div class="row">
					<div class="col-md-4 img-fluid" >
						{% if news.image %}
						<img src="{{news.image.url}}" width="250px" height="200px" alt="{{news.title}}">
						{% endif %}
					</div>
					<div class="col-md-8 newsimg">
						<a href="{% url 'newsletter:newsdetails' news.id %}" style="color: black;">
						<h4>{{news.title}}</h4>
						<small>{{news.created}}</small>
						</a>

					</div>
				</div>
			</div><br>
			{% endfor %}
			{% for new, des, i,url, tim, auth  in bus %}
			<div class="card">
				<div class="row">
					<div class="col-md-4">
						{% if i %}
						<img src="{{i}}" width="250px" class="h-100">
						{% endif %}
					</div>
					<div class="col-md-8">
						<h4><a href="{{url}}" style="color: black;">{{new}}</a></h4>
						<q>{{auth}}</q>- {{tim|truncatechars:11}}</a></b><div class="wordwarp">{{des}} </div>
					</div>
				</div>
			</div><br>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<div class="card">
				<div>
				<a href="{% url 'users:login' %}"><img src="{% static 'img/airosail.png' %}" class="w-100" height="250px"></a>
				</div>

			</div>
		</div>
	</div>
</div>
{% if news.has_other_pages %}
<div style="margin-top: 5%;">
	<nav>
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center mr-5">
    {% if news.has_previous %}
    <li><a href="?page={{ news.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if news.has_next %}
    <li><a href="?page={{ news.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
   {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
{% block jsfiles %}
<script type="text/javascript">
	$('.newsimg').find('img').hide()
</script>
{% endblock jsfiles %}
{% endblock content %}
