{% extends 'feed/base.html' %}	
{% load static %}
{% block content %}
<style type="text/css">
	.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
    border: 0;
    border-bottom: 1px solid grey;
    color: gray;
}

.nav-tabs .nav-link.active {
    color: #000000;
    border-radius: 0;
    border-bottom: 2px solid blue;
    border-spacing: 12px;
}
</style>
<div class="container">
	    <div class="row mb-2">
	    	<div class="col-md-2">
	    		<div class="card card-signin my-5">
		    		<div class="card-body">
			    		<div class="row">
			    			<div class="col-md-4">
			    			<ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
				                <li class="nav-item waves-effect waves-light btn ">
				                  <a class="nav-link {% if about %} active {% endif %} " id="disc-tab-md" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
				                </li>
				                <li class="nav-item waves-effect waves-light btn">
				                  <a class="nav-link {% if privacy %} active {% endif %}" id="review-tab-md" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="false">privacy</a>
				                </li>
				                <li class="nav-item waves-effect waves-light btn">
				                  <a class="nav-link {% if condition %} active {% endif %}" id="useragreement-tab-md" data-toggle="tab" href="#condition" role="tab" aria-controls="condition" aria-selected="false">User Agreement</a>
				                </li>
				                
				              </ul>
   				            </div>
		          		</div>
		    		</div>
	    		</div>
	    	</div>	    		
	    	<div class="col-md-10">
	    		<div class="card card-signin my-5">
	    			<div class="card-body">
	    				<div class="tab-content" id="myTabContentMD">
                			<div class="tab-pane  show {% if about %} active {% endif %}" id="about" role="tabpanel" aria-labelledby="disc-tab-md">
                				<h1>About</h1>

                				<div>
                					<h2>Welcome to Airosail</h2>
                					<p>The Airosail is full felged social promotion site is used to promote your business,app,website,services,product to reach millions of user Through Airosail</p>
                					<p>Airosail uses many tool to market you product that you can use to reach the end customers,it help to develop your business, product and service
                				it provide own onsite rating systems to increase the product sales and Get comment from user to improve your product and service for user </p>
                				<p>Airosail mission is to connect the world’s Business to allow them to be more productive and successful in the business.
								</p>
                				</div>
                			</div>
			                <div class="tab-pane show {% if privacy %} active {% endif %}" id="privacy" role="tabpanel" aria-labelledby="review-tab-md">
					            <h1 class="text-center">Privacy Policy</h1>
					            <hr>
					            <p>Airosail mission is to connect the world’s Business to allow them to be more productive and successful in the business. Central to this mission is our commitment to be transparent about the data we collect about you, how it is used and with whom it is shared.

								This Privacy Policy applies when you use our Services (described below). We offer our users choices about the data we collect, use and share as described in this Privacy Policy, Cookie Policy, Settings and our Help Center.</p>
								<h2>Introduction</h2>
								<p>Our registered users (“Members”) share their Business identities and products, engage with their network,, post and view relevant content, learn and develop skills, and find business and career opportunities. Content and data on some of our Services is viewable to non-members (“Visitors”).
								</p>
								<h2>Services</h2>
								<p>This Privacy Policy applies to Airosail.com, Airosail-branded apps and other Airosail-related sites, apps, communications and services (“Services”), including off-site Services, such as our ad services and the “Apply with Airosail” and “Share with Airosail” plugins, but excluding services that state that they are offered under a different privacy policy. 
								</p>
								<h2>Change</h2>
								<p>Airosail (“we” or “us”) can modify this Privacy Policy, and if we make material changes to it, we will provide notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes, you may close your account.

								You acknowledge that your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that the collection, use and sharing of your personal data is subject to the updated Privacy Policy, as of its effective date.
								</p>
								<h1>1.Data We Collect</h1>
								<h2>1.1 Data You Provide To Us</h2><br>
								<h4>Registration</h4>
								<p>To create an account you need to provide data including your name, email address and/or mobile number, and a password. If you register for a premium Service, you will need to provide payment (e.g., credit card) and billing information.</p>
								<h4>Profile</h4>
								<p>
								You have choices about the information on your profile, such as your  photo, city or area and endorsements. Some Members may choose to complete a separate ProFinder profile. You don’t have to provide additional information on your profile; however, profile information helps you to get more from our Services, including helping customer and business opportunities find you. It’s your choice whether to include sensitive information on your profile and to make that sensitive information public. Please do not post or add personal data to your profile that you would not want to be publicly available.
								</p>
								<h4>Posting and Uploading</h4>
								<p>We collect personal data from you when you provide, post or upload it to our Services, such as when you fill out a form, (e.g., with personal data), respond to a survey, 
								If you sync your contacts or calendars with our Services, we will collect your address book and calendar meeting information to keep growing your network by suggesting connections for you and others, and by providing information about events, e.g. times, places, attendees and contacts.

								You don’t have to post or upload personal data; though if you don’t, it may limit your ability to grow and engage with your network over our Services.
								</p>
								<h2>1.2 Data From Others</h2>
								<h4>Content and News</h4>
								<p>
								You and others may post content that includes information about you (as part of articles, posts, comments, videos) on our Services. We also may collect public information about you, such as Business-related news and accomplishments, and make it available as part of our Services, including, as permitted by your settings, in notifications to others of mentions in the news.</p>
								<h4>1.3 Service Use</h4>
								<p>We log usage data when you visit or otherwise use our Services, including our sites, app and platform technology, such as when you view or click on content (e.g., learning video) or ads (on or off our sites and apps), perform a search, install or update one of our mobile apps, share articles or post product. We use log-ins, cookies, device information and internet protocol (“IP”) addresses to identify you and log your use.
								</p>
								<h4>1.4 Cookies and Similar Technologies</h4>
								<p>As further described in our Cookie Policy, we use cookies and similar technologies (e.g., pixels and ad tags) to collect data (e.g., device IDs) to recognize you and your device(s) on, off and across different services and devices where you have engaged with our Services. We also allow some others to use cookies as described in our Cookie Policy. If you are outside the Designated Countries, we also collect (or rely on others who collect) information about your device where you have not engaged with our Services (e.g., ad ID, IP address, operating system and browser information) so we can provide our Members with relevant ads and better understand their effectiveness. Learn more. You can opt out from our use of data from cookies and similar technologies that track your behavior on the sites of others for ad targeting and other ad-related purposes. For Visitors, the controls are here.
								</p>
								<h4>1.5 Your Device and Location</h4>
								<p>When you visit or leave our Services (including some plugins and our cookies or similar technology on the sites of others), we receive the URL of both the site you came from and the one you go to and the time of your visit. We also get information about your network and device (e.g., IP address, proxy server, operating system, web browser and add-ons, device identifier and features, cookie IDs and/or ISP, or your mobile carrier). If you use our Services from a mobile device, that device will send us data about your location based on your phone settings. We will ask you to opt-in before we use GPS or other tools to identify your precise location.</p>
								<h4>1.6 Messages</h4>
								<p>We collect information about you when you send, receive, or engage with messages in connection with our Services. For example, if you get a Airosail follow request, we track whether you have acted on it and will send you reminders. We also use automatic scanning technology on messages to support and protect our site. For example, we use this technology to suggest possible responses to messages and to manage or block content that violates our User Agreement or Professional Community Policies from our Services.</p>
								<h4>1.7 Sites and Services of Others</h4>
								<p>We receive information about your visits and interaction with services provided by others when you log-in with Airosail or visit others’ services that include some of our plugins or our ads, cookies or similar technologies.</p>
								<h4>1.8 Other</h4>
								<p>Our Services are dynamic, and we often introduce new features, which may require the collection of new information. If we collect materially different personal data or materially change how we collect, use or share your data, we will notify you and may also modify this Privacy Policy.
								</p>
			              </div>
			                <div class="tab-pane  show {% if condition %} active {% endif %}" id="condition" role="tabpanel" aria-labelledby="useragreement-tab-md">
			                	<h1>User Agreement</h1>
			                	<p>Airosail mission is to connect the world’s Business to allow them to be more productive and successful in the business. Central to this mission is our commitment to be transparent about the data we collect about you, how it is used and with whom it is shared.

								This Privacy Policy applies when you use our Services (described below). We offer our users choices about the data we collect, use and share as described in this Privacy Policy, Cookie Policy, Settings and our Help Center.</p>
								<h1>Table of Content</h1>
								<ol>
								<li><a href="#introduction" target="_self">Introduction</a></li>
								<li><a href="#obligations" target="_self">Obligations</a></li>
								<li><a href="#rightslimits" target="_self">Rights and Limits</a></li>
								<li><a href="#disclaimer" target="_self">Disclaimer and Limit of Liability</a></li>
								<li><a href="#termination" target="_self">Termination</a></li>
								<li><a href="#governing" target="_self">Governing Law and Dispute Resolution</a></li>
								<li><a href="#generalterms" target="_self">General Terms</a></li>
								<li><a href="#dosdonts" target="_self">Airosail “Dos and Don’ts”</a></li>
								<li><a href="#complaints" target="_self">Complaints Regarding Content</a></li>
								<li><a href="#contactus" target="_self">How To Contact Us</a></li>
								</ol>
								<br>
								<h2 id="introduction">Introduction</h2>
								<h3>1.1 Contract</h3>
								<p>When you use our Services you agree to all of these terms. Your use of our Services is also subject to our Cookie Policy and our Privacy Policy, which covers how we collect, use, share, and store your personal information.
								</p>
								<p>You agree that by clicking “Join Now”, “Join Ariosail”, “Sign Up” or similar, registering, accessing or using our services (described below), you are agreeing to enter into a legally binding contract with Ariosail (even if you are using our Services on behalf of a company). If you do not agree to this contract (“Contract” or “User Agreement”), do not click “Join Now” (or similar) and do not access or otherwise use any of our Services. If you wish to terminate this contract, at any time you can do so by closing your account and no longer accessing or using our Services.
								</p>
								<h3>Services</h3>
								<p>This Contract applies to Ariosail.com, Ariosail-branded apps, Ariosail Learning and other Ariosail-related sites, apps, communications and other services that state that they are offered under this Contract (“Services”), including the offsite collection of data for those Services, such as our ads and the “Apply with Ariosail” and “Share with Ariosail” plugins. Registered users of our Services are “Members” and unregistered users are “Visitors”.

								</p>
								<h3>1.2 Members and Visitors</h3>
								<p>When you register and join the Ariosail Services, you become a Member. If you have chosen not to register for our Services, you may access certain features as a “Visitor.”
								</p>
								<h3>1.3 Change</h3>
								<strong>We may make changes to the Contract.</strong>
								<p>We may modify this Contract, our Privacy Policy and our Cookies Policy from time to time. If we make material changes to it, we will provide you notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. We agree that changes cannot be retroactive. If you object to any changes, you may close your account. Your continued use of our Services after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms as of their effective date.
								</p>
								<h2 id='obligations'>2. Obligations</h2>
								<h3>2.1 Service Eligibility</h3>
								<strong>Here are some promises that you make to us in this Contract:</strong><br>
								<strong>You’re eligible to enter into this Contract and you are at least our “Minimum Age.”</strong>
								<p>The Services are not for use by anyone under the age of 16.</p>
								<p>To use the Services, you agree that: (1) you must be the "Minimum Age"(described below) or older; (2) you will only have one Airosail account, which must be in your real name or business name; and (3) you are not already restricted by Airosail from using the Services. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 16.
								</p>
								<p>“Minimum Age” means 16 years old. However, if law requires that you must be older in order for Airosail to lawfully provide the Services to you without parental consent (including using of your personal data) then the Minimum Age is such older age.
								</p>
								<h3>2.2 Your Account</h3>
								<strong>You will keep your password a secret</strong><br>
								<strong>You will not share an account with anyone else and will follow our rules and the law.</strong>
								<p>Members are account holders. You agree to: (1) use a strong password and keep it confidential; (2) not transfer any part of your account (e.g., connections) and (3) follow the law and our list of Dos and Don’ts and Professional Community Policies. You are responsible for anything that happens through your account unless you close it or report misuse.

								As between you and others (including your employer), your account belongs to you. However, if the Services were purchased by another party for you to use (e.g. Recruiter seat bought by your employer), the party paying for such Service has the right to control access to and get reports on your use of such paid Service; however, they do not have rights to your personal account
								</p>
								<h3>2.3 Payment</h3>
								<strong>You’ll honor your payment obligations and you are okay with us storing your payment information. You understand that there may be fees and taxes that are added to our prices.</strong><br>
								<strong>Refunds are subject to our policy.</strong><br>
								<p>If you buy any of our paid Services (“Premium Services”), you agree to pay us the applicable fees and taxes and to additional terms specific to the paid Services. Failure to pay these fees will result in the termination of your paid Services. Also, you agree that:</p>
								<ul>
									<li>Your purchase may be subject to foreign exchange fees or differences in prices based on location (e.g. exchange rates).</li>
									<li>We may store and continue billing your payment method (e.g. credit card) even after it has expired, to avoid interruptions in your Services and to use to pay other Services you may buy.</li>
									<li>If you purchase a subscription, your payment method automatically will be charged at the start of each subscription period for the fees and taxes applicable to that period. To avoid future charges, cancel before the renewal date. Learn how to cancel or suspend your Premium Services.</li>
									<li>All of your purchases of Services are subject to Airosail’s refund policy.</li>
									<li>We may calculate taxes payable by you based on the billing information that you provide us at the time of purchase.</li>
								</ul>
								<h3>2.4 Notices and Messages</h3>
								<p>You’re okay with us providing notices and messages to you through our websites, apps, and contact information. If your contact information is out of date, you may miss out on important notices.
								</p>
								<p>You agree that we will provide notices and messages to you in the following ways: (1) within the Service, or (2) sent to the contact information you provided us (e.g., email, mobile number, physical address). You agree to keep your contact information up to date.
								</p>
								<h3>2.5 Sharing</h3>
								<strong>When you share information on our Services, others can see, copy and use that information.</strong>
								<p>Our Services allow messaging and sharing of information in many ways, such as your profile, articles, group posts, links to news articles,messages and InMails. Information and content that you share or post may be seen by other Members, Visitors or others (including off of the Services). Where we have made settings available, we will honor the choices you make about who can see content or information (e.g., message content to your addressees, sharing content only to Ariosail connections, restricting your profile visibility from search engines, or opting not to notify others of your Ariosail profile update). For business or product searching activities, we default to not notifying your connections network or the public. So, if you post for a business or product through our Service or opt to signal that you are interested in a business or product, our default is to share it only with the product poster.
								</p>
								<h2 id="rightslimits">3. Rights and Limits</h2>
								<h3>3.1. Your License to Ariosail</h3>
								<strong class="my-4">You own all of the content, feedback and personal information you provide to us, but you also grant us a non-exclusive license to it.</strong><br>
								<strong>We’ll honor the choices you make about who gets to see your information and content, including how it can be used for ads.</strong>
								<p>As between you and Ariosail, you own the content and information that you submit or post to the Services, and you are only granting Ariosail and our affiliates the following non-exclusive license:</p>
								<p>
									A worldwide, transferable and sublicensable right to use, copy, modify, distribute, publish and process, information and content that you provide through our Services and the services of others, without any further consent, notice and/or compensation to you or others. These rights are limited in the following ways:
								</p>
								<ol>
									<li>
										You can end this license for specific content by deleting such content from the Services, or generally by closing your account, except (a) to the extent you shared it with others as part of the Service and they copied, re-shared it or stored it and (b) for the reasonable time it takes to remove from backup and other systems.
									</li>
									<li>We will not include your content in advertisements for the products and services of third parties to others without your separate consent (including sponsored content). However, we have the right, without payment to you or others, to serve ads near your content and information, and your social actions may be visible and included with ads, as noted in the Privacy Policy. If you use a Service feature, we may mention that with your name or photo to promote that feature within our Services, subject to your settings.
									</li>
									<li>We will get your consent if we want to give others the right to publish your content beyond the Services. However, if you choose to share your post as "public, everyone or similar", we will enable a feature that allows other Members to embed that public post onto third-party services, and we enable search engines to make that public content findable though their services.
									</li>
									<li>While we may edit and make format changes to your content (such as translating or transcribing it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.
									</li>
									<li>Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to others
									</li></ol>
									<strong>You and Ariosail agree that if content includes personal data, it is subject to our Privacy Policy.</strong><br>
									<p>You and Ariosail agree that we may access, store, process and use any information and personal data that you provide in accordance with, the terms of the Privacy Policy and your choices (including settings).
									</p>
									<p>By submitting suggestions or other feedback regarding our Services to Ariosail, you agree that Ariosail can use and share (but does not have to) such feedback for any purpose without compensation to you.</p>
									<strong>You promise to only provide information and content that you have the right to share, and that your Ariosail profile will be truthful.</strong>
									<p>You agree to only provide content or information that does not violate the law nor anyone’s rights (including intellectual property rights). You also agree that your profile information will be truthful. Ariosail may be required by law to remove certain information or content in certain countries.
									</p>
									<h3>3.2 Service Availability</h3>
									<strong>We may change or end any Service or modify our prices prospectively.</strong>
									<p>We may change, suspend or discontinue any of our Services. We may also modify our prices effective prospectively upon reasonable notice to the extent allowed under the law.

									We don’t promise to store or keep showing any information and content that you’ve posted. Ariosail is not a storage service. You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in our Privacy Policy.</p>
									<h3>3.3 Other Content, Sites and Apps</h3>
									<strong>Your use of others’ content and information posted on our Services, is at your own risk.</strong><br>
									<strong>Others may offer their own products and services through our Services, and we aren’t responsible for those third-party activities.</strong>
									<p>By using the Services, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. Ariosail generally does not review content provided by our Members or others. You agree that we are not responsible for others’ (including other Members’) content or information. We cannot always prevent this misuse of our Services, and you agree that we are not responsible for any such misuse. You also acknowledge the risk that you or your organization may be mistakenly associated with content about others when we let connections and followers know you or your organization were mentioned in the news. Members have choices about this feature.
									</p>
									<p>Ariosail may help connect Members offering their services (career coaching, accounting, etc.) with Members seeking services. Ariosail does not perform nor employs individuals to perform these services. You must be at least 18 years of age to offer, perform or procure these services. You acknowledge that Ariosail does not supervise, direct, control or monitor Members in the performance of these services and agree that (1) Ariosail is not responsible for the offering, performance or procurement of these services, (2) Ariosail does not endorse any particular Member’s offered services, and (3) nothing shall create an employment, agency, or joint venture relationship between Ariosail and any Member offering services. If you are a Member offering services, you represent and warrant that you have all the required licenses and will provide services consistent with our Professional Community Policies.
									</p>
									<p>Similarly, Ariosail may help you register for and/or attend events organized by Members and connect with other Members who are attendees at such events. You agree that (1) Ariosail is not responsible for the conduct of any of the Members or other attendees at such events, (2) Ariosail does not endorse any particular event listed on our Services, (3) Ariosail does not review and/or vet any of these events, and (4) that you will adhere to these terms and conditions that apply to such events.
									</p>
									<h3>3.4 Limits</h3>
									<strong>We have the right to limit how you connect and interact on our Services.</strong>
									<p>Ariosail reserves the right to limit your use of the Services, including the number of your connections and your ability to contact other Members. Ariosail reserves the right to restrict, suspend, or terminate your account if you breach this Contract or the law or are misusing the Services (e.g., violating any of the Dos and Don’ts or Professional Community Policies).</p>
									<h3>3.5 Intellectual Property Rights</h3>
									<strong>We’re providing you notice about our intellectual property rights.</strong>
									<p>Ariosail  reserves all of its intellectual property rights in the Services. Trademarks and logos used in connection with the Services are the trademarks of their respective owners. Ariosail , and “in” logos and other Ariosail  trademarks, service marks, graphics and logos used for our Services are trademarks or registered trademarks of Ariosail .</p>
									<h3>3.6 Automated Processing</h3>
									<strong>We use data and information about you to make relevant suggestions to you and others.</strong>
									<p>We use the information and data that you provide and that we have about Members to make recommendations for connections, content and features that may be useful to you. For example, we use data and information about you to recommend product or business to you and you to business. Keeping your profile accurate and up to date helps us to make these recommendations more accurate and relevant.</p>
									<h2 id="disclaimer">4. Disclaimer and Limit of Liability</h2>
									<h3>4.1 No Warranty</h3>
									<strong>This is our disclaimer of legal liability for the quality, safety, or reliability of our Services.
									</strong>
									<p>ARIOSAIL AND ITS AFFILIATES MAKE NO REPRESENTATION OR WARRANTY ABOUT THE SERVICES, INCLUDING ANY REPRESENTATION THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, AND PROVIDE THE SERVICES (INCLUDING CONTENT AND INFORMATION) ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW, ARIOSAIL AND ITS AFFILIATES DISCLAIM ANY IMPLIED OR STATUTORY WARRANTY, INCLUDING ANY IMPLIED WARRANTY OF TITLE, ACCURACY OF DATA, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
									</p>
									<h3>4.2 Exclusion of Liability</h3>
									<strong>These are the limits of legal liability we may have to you.</strong>
									<p>TO THE FULLEST EXTENT PERMITTED BY LAW (AND UNLESS ARIOSAIL HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT OVERRIDES THIS CONTRACT), ARIOSAIL, INCLUDING ITS AFFILIATES, WILL NOT BE LIABLE IN CONNECTION WITH THIS CONTRACT FOR LOST PROFITS OR LOST BUSINESS OPPORTUNITIES, REPUTATION (E.G., OFFENSIVE OR DEFAMATORY STATEMENTS), LOSS OF DATA (E.G., DOWN TIME OR LOSS, USE OF, OR CHANGES TO, YOUR INFORMATION OR CONTENT) OR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR PUNITIVE DAMAGES.</p>
									<p>ARIOSAIL AND ITS AFFILIATES WILL NOT BE LIABLE TO YOU IN CONNECTION WITH THIS CONTRACT FOR ANY AMOUNT THAT EXCEEDS (A) THE TOTAL FEES PAID OR PAYABLE BY YOU TO ARIOSAIL FOR THE SERVICES DURING THE TERM OF THIS CONTRACT, IF ANY, or (B) INR 100</p>
									<h3>4.3 Basis of the Bargain; Exclusions</h3>
									<p>The limitations of liability in this Section 4 are part of the basis of the bargain between you and Ariosail” and shall apply to all claims of liability (e.g., warranty, tort, negligence, contract and law) even if Ariosail” or its affiliates has been told of the possibility of any such damage, and even if these remedies fail their essential purpose.</p>
									<p>These limitations of liability do not apply to liability for death or personal injury or for fraud, gross negligence or intentional misconduct, or in cases of negligence where a material obligation has been breached, a material obligation being such which forms a prerequisite to our delivery of services and on which you may reasonably rely, but only to the extent that the damages were directly caused by the breach and were foreseeable upon conclusion of this Contract and to the extent that they are typical in the context of this Contract.</p>
									<h2 id="termination">5. Termination</h2>
									<strong>We can each end this Contract, but some rights and obligations survive.</strong>
									<p>Both you and Arosail may terminate this Contract at any time with notice to the other. On termination, you lose the right to access or use the Services. The following shall survive termination:</p>
									<ul>
										<li>Our rights to use and disclose your feedback;</li>
										<li>Members and/or Visitors’ rights to further re-share content and information you shared through the Services;</li>
										<li>Sections 4, 6, 7, and 8.2 of this Contract;</li>
										<li>Any amounts owed by either party prior to termination remain owed after termination.</li>
									</ul>
									<h2 id="governing">6. Governing Law and Dispute Resolution</h2>
									<strong>In the unlikely event we end up in a legal dispute, you and Ariosail agree to resolve it in Indian courts using Indian law</strong>
									<h2 id="generalterms">7. General Terms</h2>
									<strong>Here are some important details about the Contract.</strong>
									<p>If a court with authority over this Contract finds any part of it unenforceable, you and we agree that the court should modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and we agree to ask the court to remove that unenforceable part and still enforce the rest of this Contract.</p>
									<p>This Contract (including additional terms that may be provided by us when you engage with a feature of the Services) is the only agreement between us regarding the Services and supersedes all prior agreements for the Services.</p>
									<p>If we don't act to enforce a breach of this Contract, that does not mean that Ariosail has waived its right to enforce this Contract. You may not assign or transfer this Contract (or your membership or use of Services) to anyone without our consent. However, you agree that Ariosail may assign this Contract to its affiliates or a party that buys it without your consent. There are no third-party beneficiaries to this Contract.</p>
									<p>You agree that the only way to provide us legal notice is at the addresses provided in Section 10.</p>
									<h2 id="dosdonts">8. Ariosail “Dos and Don’ts”</h2>
									<strong>Ariosail is a community of professionals. This list of “Dos and Don’ts” along with our Professional Community Policies limit what you can and cannot do on our Services.</strong>
									<h3>8.1. Dos</h3>
									<strong>You agree that you will:</strong>
									<ol>
										<li>Comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements;</li>
										<li>Provide accurate information to us and keep it updated;</li>
										<li>Use your real name or business name on your profile; and</li>
										<li>Use your own product to list or post </li>
										<li>Use your own website link or product link which is directly owned by you</li>
										<li>Use the Services in a professional manner.</li>
									</ol>
									<h3>8.2. Don’ts</h3>
									<strong>You agree that you will not:</strong>
									<ol>
										<li>Create a false identity on Ariosail, misrepresent your identity, create a Member profile for anyone other than yourself (a real person), or use or attempt to use another’s account;</li>
										<li>Develop, support or use software, devices, scripts, robots or any other means or processes (including crawlers, browser plugins and add-ons or any other technology) to scrape the Services or otherwise copy profiles and other data from the Services;</li>
										<li>Override any security feature or bypass or circumvent any access controls or use limits of the Service (such as caps on keyword searches or profile views);</li>
										<li>Copy, use, disclose or distribute any information obtained from the Services, whether directly or through third parties (such as search engines), without the consent of Ariosail;</li>
										<li>Disclose information that you do not have the consent to disclose (such as confidential information of others;</li>
										<li>Violate the intellectual property rights of others, including copyrights, patents, trademarks, trade secrets or other proprietary rights. For example, do not copy or distribute (except through the available sharing functionality) the posts or other content of others without their permission, which they may give by posting under a Creative Commons license;</li>
										<li>Violate the intellectual property or other rights of Ariosail, including, without limitation, (i) copying or distributing our  videos or other materials or (ii) copying or distributing our technology, unless it is released under open source licenses; (iii) using the word “Ariosail” or our logos in any business name, email, or URL except as provided in the Brand Guidelines;</li>
										<li>Post anything that contains software viruses, worms, or any other harmful code;</li>
										<li>Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for the Services or any related technology that is not open source;</li>
										<li>Imply or state that you are affiliated with or endorsed by LinkedIn without our express consent (e.g., representing yourself as an accredited LinkedIn trainer)</li>
										<li>Rent, lease, loan, trade, sell/re-sell or otherwise monetize the Services or related data or access to the same, without LinkedIn’s consent;</li>
										<li>Deep-link to our Services for any purpose other than to promote your profile or a Group on our Services, without LinkedIn’s consent;</li>
										<li>Use bots or other automated methods to access the Services, add or download contacts, send or redirect messages;</li>
										<li>Monitor the Services’ availability, performance or functionality for any competitive purpose;</li>
										<li>Engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of the Services;
										</li>
										<li>Overlay or otherwise modify the Services or their appearance (such as by inserting elements into the Services or removing, covering, or obscuring an advertisement included on the Services);</li>
										<li>Interfere with the operation of, or place an unreasonable load on, the Services (e.g., spam, denial of service attack, viruses, gaming algorithms); and/or</li>

									</ol>
									<h2 id="complaints">9. Complaints Regarding Content</h2>
									<strong>Contact information for complaint about content provided by our Members.</strong>
									<p>We respect the intellectual property rights of others. We require that information posted by Members be accurate and not in violation of the intellectual property rights or other rights of third parties. We provide a policy and process for complaints concerning content posted by our Members.</p>
									<h2 id="contactus">10. How To Contact Us</h2>
									<strong>Our Contact information. Our Help Center also provides information about our Services.</strong>
									<p>For general inquiries, you may contact us <a href="{% url 'users:contact' %}">online</a> For legal notices or service of process, you may write us at these addresses.</p>

							</div>
			              </div>
			            </div>
	    			</div>
	    		</div>
	    	</div>
	    </div>

{% endblock content %}