{% extends 'feed/base.html' %}

{% block content %}
<style type="text/css">
	textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input,select{
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="checkbox"]{
  width: 30px; /*Desired width*/
}
.dropdown-menu {         
  max-height: 200px;
  overflow-y: auto;
}
</style>
<div class="container my-4">
	<div class="card" style="background-color: lightgrey;">
		<div class="card-body" style="padding-left: 5%;padding-right: 5%;">
<form method="post" action="{% url 'users:editprofile' %}" enctype="multipart/form-data" >    
	{% csrf_token %}    
	{% for field in u_form %}
	<p>
		{{ field.label_tag}}<br>
		{{field}}
		{% if field.help_text %}
		<small style='color: grey'>{{field.help_text}}</small>
		{% endif %}
		{% for error in field.errors %}
		<p style='color: red'>{{error}}</p>
		{% endfor %}
	</p>  
	{% endfor %}
	{% for field in p_form %}
	<p>
		{{ field.label_tag}}<br>
		{{field}}
		{% if field.help_text %}
		<small style='color: grey'>{{field.help_text}}</small>
		{% endif %}
		{% for error in field.errors %}
		<p style='color: red'>{{error}}</p>
		{% endfor %}
	</p>  
	{% endfor %}

<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle" type="button" 
id="sampleDropdownMenu" data-toggle="dropdown">
Feed categories
</button>
<div class="dropdown-menu">
<button class="dropdown-item" type="button"> <input type="checkbox" name="check" value="agriculture">Agriculture </button>
<button class="dropdown-item" type="button"> <input type="checkbox" name="check" value="pets">Pets</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="architecture">Architecture</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="arts">Arts</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="transport">Transport</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="education">Education</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="trading">Trading</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="books">Books & Literature</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="charity">Charity/Aid/Welfare</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="energy">Energy</button>
<button class="dropdown-item" type="button">  <input type="checkbox" name="check" value="entertainment">Entertainment</button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="games">Games</button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="marketing">Marketing & Advertising</button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="manugacturing">Manufacturing</button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="fashion">Fashion </button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="humanresources">Human Resources </button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="photography">Photography </button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="property">Property & Real Estate </button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="science">Science </button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="spiritual">Spiritual  </button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="technologly">Technology </button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="websites">websites </button>
<button class="dropdown-item" type="button">  <input type="checkbox"name="check" value="app">App </button>

</div>
</div><br>
	<div class=" text-center">
	 <button name="submit" class="btn btn-primary btn-lg" >Save</button>    
	</div>
	</form>
</div>
</div>
</div><br>
{% endblock content %}