{% extends 'feed/base.html'%}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header"><h1>Notification</h1></div>
				<div class="card-body">
			<div class="row pb-2">
					{% for note in frinedreq %}
            	<div class="col-md-auto">
                <a href="{% url 'users:profile_v' note.from_user.profile.id %}"> 
                  <img src="{{ note.from_user.profile.image.url }}" class="rounded mr-2" width="100" height="100" alt=""/>
                </a>
              </div>
              <div class="col">
                <a class="text-dark" href="{% url 'users:profile_v' note.from_user.profile.id %}"><b>{{note.from_user|title}} is following you</b></a>
                <p><strong>Profile :</strong>{{note.profile_type}}</p>
               <p><strong>Bio:</strong>{{note.bio|truncatewords:100}}</p>
					<small class="float-right">
	            		<a class="btn btn-primary mr-2" href="{% url 'users:add_friends' note.from_user.profile.id %}">follow</a>
	          		</small>
	          		<small class="float-right">
	            		<a class="btn btn-primary mr-2" href="{% url 'users:cancel_friend' note.from_user.profile.id %}">cancel</a>
	          		</small>

					{% endfor %}
				</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{% for n in note %}
						<div class="row pl-3">
							<div class="col-md-11 del{{n.id}}" >
								<a href="{% url 'users:profile_v' n.actor.id %}"> 
		                  		<img src="{{ n.actor.profile.image.url }}" class="rounded mr-2" width="50" height="50" alt=""/>
		                		</a>
							<b>{{n.actor}}</b><a href=""> {{n.verb}}</a><br>
							<small>{{n.timestamp}}</small><a  type="button" class="delnote" id='{{n.id}}'><i class="fa fa-trash float-right" style="font-size: 18px;"></i></a>
							<hr>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>		
		</div>
	</div>
	</div>
</div>
</div>
{% block jsfiles %}
<script type="text/javascript">
	$(".delnote").off().click(function(e){
		var noteid = this.id
		e.preventDefault();
		$.ajax({
			method:"GET",
			url: "{% url 'users:delnote' %}",
			data:{'noteid': noteid},

			success:function(response){
				$('.del'+noteid).remove()
			},
		});
	});
</script>
{% endblock jsfiles %}
{% endblock content %}

