{% extends 'feed/base.html'%}
{% block content %}
<div class="container-fluid">
  <input class="form-control mt-4 mb-4" id="myInput" type="text" placeholder="Filter ..">
  <div class="row">
    <div class="col-md-8" style="padding-left: 10%;">
      {% if not users or post %}
      <br /><br />
      <h2><i></i></h2>
      {% else %}


      <div class="card card-signin  filter">
        <div class="card-body">
        {% for user_p in users %}
          {% if request.user != user_p %}
          <div class="row pb-2">
            <div class="col-md-auto">
                <a href="{% url 'users:profile_v' user_p.profile.id %}"> 
                  <img src="{{ user_p.profile.image.url }}" class="rounded mr-2" width="100" height="100" alt=""/>
                </a>
              </div>
              <div class="col">
                <a class="text-dark" href="{% url 'users:profile_v' user_p.profile.id %}"><b>{{ user_p }}</b></a>
                <p><strong>Profile :</strong>{{user_p.profile.profile_type}}</p>
               <p><strong>Bio:</strong>{{user_p.profile.bio}}</p>
               {% if user.is_authenticaded %}
               {% if user_p.profile not in request.user.profile.friends.all %}
                <small class="float-right">
                  <a class="btn btn-primary mr-2" href="{% url 'users:add_friends' user_p.id %}">follow</a>
                </small>
                {% else %}
                <small class="float-right">
                  <a class="btn btn-danger mr-2" href="{% url 'users:delete_friend' user_p.id %}">Unfollow</a>
                </small>
                {% endif %}
                {% else %}
                <small class="float-right">
                  <a class="btn btn-primary mr-2" href="{% url 'users:login' %}">Login</a>
                </small>
                {% endif %}
              </div>
            </div>
            
            {% endif %}
        {% endfor %}
</div>
</div>
{% endif %}
{% if not post %}
{% else %}
<div class="card card-signin filter">
        <div class="card-body">
        {% for post in post %}
          {% if request.user != post.user_name %}
          <div class="row pb-2">
            <div class="col-md-auto">
                {% for p in post.img.all %}
                 {% if forloop.counter == 1 %}<a href="{% url 'feed:postdetails' post.id %}">
                  <img class="img-fluid w-100" alt="100%x280" src="{{p.pimages.url}}" style="height: 180px;"></a>
                 {% endif %}
                {% endfor %}         
              </div>
              <div class="col">
                <a class="text-dark" href="{% url 'users:profile_v' post.user_name.profile.id %}"><b>{{ post.title }}</b></a>
                <p><strong>Post type :</strong>{{post.post_type}}</p>
                <p><strong>Descriptions :</strong>{{post.descriptions|safe|truncatewords:5}}
                <i><b>state</b>{{post.user_name.profile.state|title}} </i><br>
                <i><b>country</b>{{post.user_name.profile.country|title}} </i>             
              </div>
            </div>
            {% endif %}
        {% endfor %}
        </div><hr>
      </div>
      {% endif %}
    </div>


    {% if user.is_authenticated %}
    <div class="col-md-3 ">
      <div class="card card-signin my-5">
        <a href="{% url 'users:dashboard' %}">
          <img class="card-img-top" src="{{ request.user.profile.image.url }}" alt=""/></a>
        <div class="card-body">
          <h5 class="card-title text-center">{{ request.user }}</h5>
          <h6 class="text-center">
            {{ request.user.profile.friends.count }}
            <p class="text-muted">following</p>
          </h6>
          <p class="card-text text-center">{{ request.user.profile.bio }}</p>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-md-3">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h1>Airosail</h1>
        </div>        
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% block jsfiles %}
<script type="text/javascript">
 $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".filter").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
{% endblock %}
{% endblock content %}
