{% extends 'feed/base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% if post_feed %}
      <div class="card card-signin my-5">
        <div class="card-body">
          {% for user_p in post_feed %}
          {% if user_p.user != request.user %}
          <div class="row pb-2">
            <div class="col-md-auto">
                <a href="{% url 'users:profile_v' user_p.id %}"> 
                  <img src="{{ user_p.image.url }}" class="rounded mr-2" width="100" height="100" alt=""/>
                </a>
              </div>
              <div class="col">
                <a class="text-dark" href="{% url 'users:profile_v' user_p.id %}"><b>{{ user_p }}</b></a>
                <p><strong>Profile :</strong>{{user_p.profile_type}}</p>
               <p><strong>Bio:</strong>{{user_p.bio|truncatewords:100}}</p>

              </div>
        </div>
          {% if user_p.user not in request.user.profile.friends %}
          <small class="float-right">
            <a class="btn btn-primary mr-2" href="{% url 'users:add_friends' user_p.id %}">follow</a>
          </small>
          {% else %}
          <small class="float-right">
            <a class="btn btn-danger mr-2" href="{% url 'users:delete_friend' user_p.id %}">Unfollow</a>
          </small>
          {% endif %}
          <br /><br />
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% else %}
      <h5><i>No new people to add now! Please come back later!</i></h5>
      {% endif %}
    </div>


    <div class="col-md-4">
      <div class="card card-signin my-5">
        <a href="{% url 'users:dashboard' %}"
          ><img
            class="card-img-top"
            src="{{ request.user.profile.image.url }}"
            alt=""
        /></a>
        <div class="card-body">
          <h5 class="card-title text-center">{{ request.user }}</h5>
          <h6 class="text-center">
            {{ request.user.profile.friends.count }}
            <p class="text-muted">Friends</p>
          </h6>
          <p class="card-text text-center">{{ request.user.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}